certifi==2020.6.20
chardet==3.0.4
contextvars==2.4
cycler==0.10.0
decorator==4.4.2
easyocr==1.1.9
future==0.18.2
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.25
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
immutables==0.14
kiwisolver==1.2.0
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
opencv-python==4.4.0.44
Pillow==7.2.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
PySimpleGUI==4.29.0
python-bidi==0.4.2
python-dateutil==2.8.1
PyWavelets==1.1.1
rfc3986==1.4.0
scikit-image==0.17.2
scipy==1.5.2
six==1.15.0
sniffio==1.1.0
tifffile==2020.9.3
torch==1.6.0
torchvision==0.7.0
